coverage==7.4.4
croniter==2.0.5
deprecated==1.2.14
werkzeug==3.0.2
flask-cors==4.0.0
flask-restx==1.1.0
flask==2.3.3
gunicorn==22.0.0
httpretty==1.1.4
ipython
iso8601==2.1.0
jsonschema==4.21.1
mongomock==4.1.2
pyjwt==2.8.0
pymongo==4.6.3
python-crontab==3.0.0
requests==2.32.0
pytest==8.1.1
cryptography==42.0.5
