coverage==7.2.7
croniter==1.4.1
deprecated==1.2.14
werkzeug==3.0.1
flask-cors==4.0.0
flask-restx==1.1.0
flask==2.3.2
gunicorn==21.2.0
httpretty==1.1.4
ipython
iso8601==2.0.0
jsonschema==4.17.3
mongomock==4.1.2
pyjwt==2.8.0
pymongo==4.4.1
python-crontab==3.0.0
requests==2.31.0
pytest==7.4.0
cryptography==41.0.3
